#map {
    height: 500px;
    width: 500px;
}

.row {
    display: flex;
}
    
.column {
    flex: 50%;
}

html{
    font-family: 'Roboto', sans-serif;
}

#GetMapUrl{width:95%;height:100px;}

a.btn {
  background-color:#30399e ;
  box-shadow: 0 5px 0 #1A1E4F;
  color: white;
  padding: 0.5em 1em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8em;
}

a.btn:hover {
  background-color: #ce0606;
  cursor: pointer;
}

a.btn:active {
  box-shadow: none;
  top: 5px;
}