#map {
    height: 500px;
    width: 500px;
}

.row {
    display: flex;
}
    
.column1 {
    flex: 30%;
    display: flex;
    flex-flow: row wrap;
}

#downloadDiv{
  height: 40px;
  width: 100%;
  align-self: flex-end;
}
#settings{
  width:100%;
}

.column2 {
  flex: 70%;
  border-left: solid 1px#D3D3D3;
  padding-left:0.5em;
  overflow: scroll;
  height: calc(100vh - var(--nav-height));
}

html{
    font-family: 'Roboto', sans-serif;
}

#GetMapUrl{width:95%;height:100px;}

a.btn {
  background-color:#30399e ;
  box-shadow: 0 5px 0 #1A1E4F;
  color: white;
  padding: 0.5em 1em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8em;
}

a.btn:hover {
  background-color: #ce0606;
  cursor: pointer;
}

a.btn:active {
  box-shadow: none;
  top: 5px;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  .slidecontainer{
      width:50%;

  }

select.styleselect{
  max-width:200px;
}

label{
  margin-right:1em;
}


:root {
  --nav-height     : 3em;
  --secondary-color: #1A1E4F;
}

.container {
  height        : 100%;
  display       : flex;
  flex-direction: column;
  overflow      : hidden;
}

.nav {
  height          : var(--nav-height);
  background-color: #1a1e4f;
  position        : relative;
  vertical-align  : center;
  display         : flex;
  align-items     : center;
}

.nav div {
  height      : 50%;
  margin-left : 1em;
  margin-right: 1em;
}

.nav img,
.nav svg {
  max-width : 100%;
  max-height: 100%;
}

.nav-child-right {
  margin-left: auto !important;
  order      : 2;
  height     : 40%;
}

.octicon {
  fill: white;
}

body {
  color: #000;
  font-family: "Roboto",
      "Franklin Gothic Medium",
      Tahoma,
      sans-serif;
  line-height: 1.5;
  margin: unset;
}


li .layer,
li .group {
  font-size: 14px;
}


#popup {
  display: none;
}

.ol-popup {
  position        : absolute;
  background-color: white;
  box-shadow      : 0 1px 4px rgba(0, 0, 0, 0.2);
  padding         : 15px;
  border-radius   : 10px;
  border          : 1px solid #cccccc;
  bottom          : 12px;
  left            : -50px;
  min-width       : 280px;
}

.ol-popup:after,
.ol-popup:before {
  top           : 100%;
  border        : solid transparent;
  content       : " ";
  height        : 0;
  width         : 0;
  position      : absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: white;
  border-width    : 10px;
  left            : 48px;
  margin-left     : -10px;
}

.ol-popup:before {
  border-top-color: #cccccc;
  border-width    : 11px;
  left            : 48px;
  margin-left     : -11px;
}

.ol-popup-closer {
  text-decoration: none;
  position       : absolute;
  top            : 2px;
  right          : 8px;
}

.ol-popup-closer:after {
  content: "✖";
}


.layer-switcher button {
  background-image   : url('./icons/icon.svg');
  background-size    : 32px 32px;
  background-position: unset;
}

#switchView2 {
  position: relative;
  top     : 1em;
  left    : 1em;
}

#title {
  position        : absolute;
  left            : 1em;
  bottom          : 1em;
  background-color: rgba(255, 255, 255, 0.424);
  padding-left    : 1em;
  padding-right   : 1em;
}

#title h1 {
  font-size: 20px;
}

.row {
  min-height : 0;
  flex       : 1;
  display    : flex;
  flex-grow  : initial;
  flex-shrink: initial;
  height     : calc(100vh - var(--nav-height));
}


.hidden {
  display: none;
}

code {
  font-family: Consolas,
      monaco,
      monospace;
  display: block !important;
}

pre.code {
  white-space: pre-wrap;
}

pre.code::before {
  counter-reset: listing;
}

pre.code code {
  counter-increment: listing;
}

pre.code code::before {
  content     : counter(listing) ". ";
  display     : inline-block;
  width       : 4em;
  /* now works */
  padding-left: auto;
  /* now works */
  margin-left : auto;
  /* now works */
  text-align  : right;
  /* now works */
}


span.dlSelector {
  margin-left     : 0.4em;
  border-radius   : 34px;
  background-color: #fff;
  padding         : 0.3em 0.6em 0.3em 0.6em;
  color           : #7b7b7b;
  border          : 1px solid #a0a0a0;
  cursor          : default;
}

.dlSelector.selected {
  background-color: var(--secondary-color);
  color           : #fff;
  border          : 1px solid var(--secondary-color);
}